@import "variable";


@keyframes jump{
    0% {
        transform: translateY(-22rem);
    }

    50%{
        transform: translateY(-10rem);
    }

    100%{
        transform: translateY(-22em);
    }
}