@import "variable";


.u-color-white{
    color: $color-white !important;
}

.u-text-black{
    color: $color-dark !important;
}

.u-margin-bottom-lg{
    margin-bottom: 13.7rem !important;
}