// COLOR VARIABLE 

$color-primary: #FA4A0C;
$color-dark:#252B42;
$color-semi-dark:#737373;
$color-white:#fff;

// FONT SIZE VARIABLE 

$text-lg:5.8rem;
$text-md:4rem;
$text-sm:2.4rem;
$text-xt-sm:1.6rem;


// FONT FAMILY

$font-poppins:'Poppins', sans-serif;
$font-monserrat:'Montserrat', sans-serif;
$font-roboto:'Roboto', sans-serif;